<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <title>Student System</title>
  <style>
    /* CSS para footer fijo en la parte inferior */
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .ui-page {
        height: 100%;
        overflow: hidden;
    }
    .ui-content {
        padding-bottom: 50px; /* Ajuste según el tamaño del footer */
    }
    .ui-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999; /* Asegura que el footer esté sobre el contenido */
    }
    /* Estilo personalizado para el select */
    .ui-select-custom {
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
    margin-bottom: 10px; /* Espaciado inferior */
    height: 10px; /* Altura del select */
    font-size: 14px;
  }
  
  /* Estilo personalizado para el botón */
  .ui-btn-custom {
    padding: 8px; /* Reducir el padding */
    white-space: normal; /* Permitir que el texto se ajuste automáticamente */
  }
  </style>
</head>
<body>
  <div data-role="page" data-theme="b">
    <div data-role="header">
      <h1>Edit Student</h1>
    </div>

    <div role="main" class="ui-content">
      <form action="/update/<%=student.controlnumber%>" method="post" data-theme="b">
        <label><strong>Control Number:</strong></label>
        <input type="text" name="controlnumber" placeholder="Control Number" value="<%= student.controlnumber %>" readonly/>
        <label><strong>Name:</strong></label>
        <input type="text" name="name" placeholder="Name" value="<%= student.name %>" />
        <label><strong>Lastname:</strong></label>
        <input type="text" name="lastname" placeholder="Lastname" value="<%= student.lastname %>" />
        <label><strong>Birthday:</strong></label>
        <input type="date" name="birthday" placeholder="Birthday" value="<%= student.birthday %>" />
        <select name="bloodtype" data-native-menu="false" class="ui-select-custom">
          <option value="">Blood Type</option>
          <option value="Tipo A Rh positivo (A+)">Tipo A Rh positivo (A+)</option>
          <option value="Tipo A Rh negativo (A-)">Tipo A Rh negativo (A-)</option>
          <option value="Tipo B Rh positivo (B+)">Tipo B Rh positivo (B+)</option>
          <option value="Tipo B Rh negativo (B-)">Tipo B Rh negativo (B-)</option>
          <option value="Tipo AB Rh positivo (AB+)">Tipo AB Rh positivo (AB+)</option>
          <option value="Tipo AB Rh negativo (AB-)">Tipo AB Rh negativo (AB-)</option>
          <option value="Tipo O Rh positivo (O+)">Tipo O Rh positivo (O+)</option>
          <option value="Tipo O Rh negativo (O-)">Tipo O Rh negativo (O-)</option>
        </select>
        <label><strong>Career:</strong></label>
        <input type="text" name="carrer" placeholder="Career" value="<%= student.carrer %>" />
        <label for="flip-2"><strong>Status:</strong></label>
        <select name="status" id="flip-2" data-role="slider">
          <option value="0" <%= student.status=0 ? "selected":"" %> >Inactive</option>
          <option value="1" <%= student.status=1 ? "selected":"" %> >Active</option>
        </select>
        <button type="submit" id="submit-6" class="ui-btn ui-btn-b ui-corner-all ui-btn-custom">Save</button>
      </form>
    </div>
    <div data-role="footer">
      <h5>Developed by Briones</h5>
    </div>
  </div>
</body>
</html>
